body {
    background-color: grey;
}   
/* .cv-slogan {
    font-size: 35px;
    padding-top: 2%;
} */



.cv-presentacion{
    position:relative;
    background: #f3f3f3;
    height: 350px;
}

.cv-titulo-image {
    padding-left: 3%;
    width:75%;
}
.d-card{

    width: 100%;
}

.datos-card {
    width: 100%;
}